<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>
    <%- include('navbar') -%>
    <div class="container">
        <div class="columns">
            <div class="column">
                <table class="table">
                    <thead>
                        <tr>
                            <th><abbr title="Position"></abbr>Name</th>
                            <th>Image</th>
                            <th><abbr title="Played">Age</abbr></th>
                            <th><abbr title="Won">Nation</abbr></th>
                            <th><abbr title="Drawn">Hi</abbr></th>
                            <th><abbr title="Lost"></abbr></th>

                        </tr>
                    </thead>

                    <tbody>
                        <% blackpinkData.forEach(bl=> { %>


                            <tr>
                                <td>
                                    <strong> <%= bl.name %> </strong>
                                </td>
                                <td><img class="image is-32x32" src="<%= bl.img %>" /></td>
                                <td>
                                    <%= bl.age %>
                                </td>
                                <td>
                                    <%= bl.nation %>
                                </td>
                                <td>Not yet</td>
                                <td>
                                    <a href="blackpink/edit/<%= bl.id %>"><button class="button is-success">Edit</button></a>
                                    <br/><br/>
                                   <a href="blackpink/delete/<%= bl.id %>"> <button class="button is-warning" href="blackpink/delete/<%= bl.id %>">Delete</button></a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>

            <div class="column">
                <form action="/blackpink" method="post">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="name">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Age</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" type="number" placeholder="Text input" name="age">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <p class="help is-success">This username is available</p>
                    </div>

                    <div class="field">
                        <label class="label">URL</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" type="text" placeholder="URL" name="img">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                        <!-- <p class="help is-danger">This email is invalid</p> -->
                    </div>

                    <div class="field">
                        <label class="label">Nation</label>
                        <div class="control">
                            <div class="select">
                                <select name="nation">
                                    
                                    <option value="Vietnam">Select dropdown</option>
                                    <option value="Thailand">Thailand</option>
                                    <option value="Korea">Korea</option>
                                    <option value="Vietnam">Việt Nam</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input type="checkbox">
                        I agree to the <a href="#">terms and conditions</a>
                      </label>
                    </div>
                  </div>
                  
                  <div class="field">
                    <div class="control">
                      <label class="radio">
                        <input type="radio" name="question">
                        Yes
                      </label>
                      <label class="radio">
                        <input type="radio" name="question">
                        No
                      </label>
                    </div>
                  </div> -->

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" type="submit">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-light">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>